@property --progress {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes scroll-progress {
  from {
    --progress: 0;
  }
  to {
    --progress: 1;
  }
}

@layer base {
  :root {
    --path-width: 4px;
    --path-width-offset: calc(var(--path-width) / 2);
  }
}

@layer components {
  .main {
    padding-block-start: var(--size-indicator);
    min-block-size: 10000px;
    text-align: center;
  }

  .overlay {
    position: fixed;
    inset: calc(var(--size-indicator) / 2 + 1rem);
    pointer-events: none;
    border-radius: 25px; /* not visible - controls indicator orientation in corners, visible border-radius controlled by rx, ry on svg tag */

    animation-name: scroll-progress;
    animation-timing-function: linear;
    animation-timeline: scroll(root);
  }

  .track {
    position: absolute;
    inset: 0;
    place-self: stretch;

    & > rect {
      x: var(--path-width-offset);
      y: var(--path-width-offset);
      inline-size: calc(100% - var(--path-width-offset) * 2);
      block-size: calc(100% - var(--path-width-offset) * 2);

      rx: 25; /* visible border radius, not used by indicator to calculate orientation */
      ry: 25; /* visible border radius, not used by indicator to calculate orientation */

      stroke: var(--border);
      stroke-width: var(--path-width);
      stroke-dasharray: 100;

      @media (prefers-reduced-motion: no-preference) {
        stroke-dashoffset: calc(100 - var(--progress) * 100);
      }
    }
  }

  .indicator {
    position: absolute;
    inline-size: var(--size-indicator);
    aspect-ratio: 1;

    offset-path: border-box;
    offset-rotate: auto;
    offset-distance: 0%;

    background: var(--accent);

    @media (prefers-reduced-motion: no-preference) {
      offset-distance: calc(var(--progress) * 100%);
    }
  }
}
