@property --progress {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes scroll-progress {
  from {
    --progress: 0;
  }
  to {
    --progress: 1;
  }
}

@layer base {
  :root {
    --path-width: 4px;
    --path-width-offset: calc(var(--path-width) / 2);
    --size-indicator: 4rem;
  }

  html {
    container-type: scroll-state;
    container-name: page;
  }
}

@layer components {
  .main {
    padding-block-start: var(--size-indicator);
    min-block-size: 10000px;
    text-align: center;
  }

  .overlay {
    position: fixed;
    inset: calc(var(--size-indicator) / 2 + 1rem);
    pointer-events: none;
    border-radius: 25px; /* not visible - controls indicator orientation in corners, visible border-radius controlled by rx, ry on svg tag */

    animation-name: scroll-progress;
    animation-timing-function: linear;
    animation-timeline: scroll(root);
  }

  .track {
    position: absolute;
    inset: 0;
    place-self: stretch;

    & > rect {
      x: var(--path-width-offset);
      y: var(--path-width-offset);
      inline-size: calc(100% - var(--path-width-offset) * 2);
      block-size: calc(100% - var(--path-width-offset) * 2);

      rx: 25; /* visible border radius, not used by indicator to calculate orientation */
      ry: 25; /* visible border radius, not used by indicator to calculate orientation */

      stroke: var(--border);
      stroke-width: var(--path-width);
      stroke-dasharray: 100;

      @media (prefers-reduced-motion: no-preference) {
        stroke-dashoffset: calc(100 - var(--progress) * 100);
      }
    }
  }

  .indicator {
    position: absolute;
    inline-size: var(--size-indicator);
    aspect-ratio: 1;
    align-content: center;

    offset-path: border-box;
    offset-rotate: auto;
    offset-distance: 0%;

    color: var(--accent);

    transform: scale(1);
    transition-property: transform;
    transition-duration: 1s;
    /* https://easingwizard.com/#0a2l4v1000x42h */
    transition-timing-function: linear(
      0,
      0.058 6%,
      0.109 9.8%,
      0.174 13%,
      0.262 15.9%,
      0.536 21.5%,
      0.997 27.7%,
      0.527 34.1%,
      0.428 36.4%,
      0.396 38.5%,
      0.431 40.6%,
      0.532 42.7%,
      0.996 48%,
      0.677 51.9%,
      0.607 53.4%,
      0.582 54.9%,
      0.605 56.4%,
      0.673 57.9%,
      0.999 62%,
      0.786 65%,
      0.74 66.2%,
      0.724 67.4%,
      0.739 68.6%,
      0.782 69.8%,
      0.999 73.4%,
      0.878 75.7%,
      0.837 77.8%,
      0.87 79.9%,
      1 83.2%,
      0.942 85.1%,
      0.923 86.9%,
      0.936 88.5%,
      1 92%,
      0.981 94.5%,
      1
    );

    @media (prefers-reduced-motion: no-preference) {
      offset-distance: calc(var(--progress) * 100%);
    }

    /* can't scroll further up */
    @container page not scroll-state(scrollable: top) {
      transform: scale(0.5);
    }

    /* can't scroll further down */
    @container page not scroll-state(scrollable: bottom) {
      transform: scale(0.5);
    }
  }
}
