/* Layers are declared in index.html */
@import 'modern-normalize/modern-normalize.css' layer(reset);

@layer base {
  :root {
    --text: oklch(71.37% 0.0192 261.32);
    --bg: oklch(20.63% 0.012 277.83);
    --border: oklch(53.5% 0.0181 276.38);
    --accent: oklch(60.81% 0.25 354);
    --accent-bg: oklch(60.81% 0.25 354 / 10%);
    --accent-border: oklch(60.81% 0.25 354 / 50%);
    --shadow: oklch(0% 0 0 / 40%) 0 10px 15px -3px, oklch(0% 0 0 / 25%) 0 4px 6px -2px;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    --size-indicator: 4rem;
  }

  html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    color: var(--text);
    background: var(--bg);
  }
}
